# 2) Data used

To do this, it will be used a free provided data set compiled by **Our World in Data**, an organization specialized in researches and data analytics about changes and global problems. The data set has the following structure:

* **Columns**: There are 16 columns,that are representing the ISO CODE, LOCATION, DATE, TOTAL CASES, NEW CASES, TOTAL DEATHS, NEW DEATHS, ALL CASES PER MILLION, TOTAL DEATHS PER MILLION, NEW DEATHS PER MILLION, TOTAL TESTS, TESTS PER THOUSAND and TESTS UNITS.

* **Rows**: Each row represents a case of country and date. For example, there are one row for Brazil in 2020-02-13 and another row for Brazil in 2020-03-01. This structure is very important because it will turn possible to monitor the process over the time.

Bellow, we can have a better understanding of how it works and why it will be useful:

In [1]:
import pandas as pd
df = pd.read_excel("owid-covid-data.xlsx")
df1 = df.loc[df['location']=='Brazil'].sort_values(by=['total_deaths'],ascending=False).reset_index(drop=True)
df1.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,BRA,Brazil,2020-05-03,96559,4970,6750,421,454.268,23.382,31.756,1.981,NaN,NaN,NaN,NaN,NaN
1,BRA,Brazil,2020-05-02,91589,6209,6329,428,430.887,29.211,29.775,2.014,NaN,NaN,NaN,NaN,NaN
2,BRA,Brazil,2020-05-01,85380,7218,5901,435,401.676,33.958,27.762,2.046,NaN,NaN,NaN,NaN,NaN
3,BRA,Brazil,2020-04-30,78162,6276,5466,449,367.718,29.526,25.715,2.112,NaN,NaN,NaN,NaN,NaN
4,BRA,Brazil,2020-04-29,71886,5385,5017,474,338.193,25.334,23.603,2.230,NaN,NaN,NaN,NaN,NaN

Let's see the size of the dataset:

In [2]:
print(df.shape)

(14919, 16)

And let's see the type of each column:

In [3]:
print(df.dtypes)

iso_code                     object
location                     object
date                         object
total_cases                   int64
new_cases                     int64
total_deaths                  int64
new_deaths                    int64
total_cases_per_million     float64
new_cases_per_million       float64
total_deaths_per_million    float64
new_deaths_per_million      float64
total_tests                 float64
new_tests                   float64
total_tests_per_thousand    float64
new_tests_per_thousand      float64
tests_units                  object
dtype: object