### Segmenting and Clustering Neighborhoods in Toronto (II)

Import pandas and both .csv files, create the dataframens and clean the data:

In [8]:
import pandas as pd
coord = pd.read_csv("Geospatial_Coordinates.csv")
df = pd.read_csv('table-1.csv')
df = df[df["Borough"] != "Not assigned"]
df = df.reset_index(drop=True)

Turn the column **Postal code** as index in both dataframes:

In [9]:
df.set_index("Postal code",inplace=True)
df.sort_values(by="Postal code",inplace=True)
df.head()

                 Borough                              Neighborhood
Postal code
M1B          Scarborough                           Malvern / Rouge
M1C          Scarborough  Rouge Hill / Port Union / Highland Creek
M1E          Scarborough       Guildwood / Morningside / West Hill
M1G          Scarborough                                    Woburn
M1H          Scarborough                                 Cedarbrae

In [10]:
coord.rename(columns = {"Postal Code":"Postal code"},inplace = True)
coord.set_index("Postal code",inplace=True)
coord.head()

              Latitude  Longitude
Postal code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

Use the function **.concat** to obtain a new dataframe with columns of both **coord** and **pd** dataframes:

In [11]:
df_coord = pd.concat([df,coord],axis=1,join="inner")

In [15]:
df_coord = df_coord.reset_index(drop=True)
df_coord

,index,Postal code,Borough,Neighborhood,Latitude,Longitude
0,0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476